.toast-provider {
  position: fixed;
  top: 2rem;
  right: 2rem;
  bottom: 0;
  max-width: 400px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.toast-provider::-webkit-scrollbar {
  display: none;
}

.each-toast-wrapper {
  background-color: #3498db;
  margin: 0 0 1rem;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);
  color: #fff;
  font-size: 14px;
}
